 <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>Topphase consult </h2>
            <p>Research & Economic Analysis
Research shapes and transforms the world in which we live. Our research and economic analysis team explore its networks to gain new insights and knowledge to influence and improve our clients businesses.

We conduct in-depth research and analysis on a wide variety of industries including, Agriculture, Financial Services, Information and Communication Technology, Maritime, oil and Gas among others. We at BAA are proud to help re-shape the way leading companies’ structure and manage their business.

We offer the following services:</p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
             is an indigenous business management consulting firm that was incorporated
              in February 1993, as General Management and Financial Consultants, and commenced operations
              in March 1994. The company has built on the professional experience of its Chief
              Consultant (Dr. ‘Biodun Adedipe) and his complementary relationships
              , and in the course of time developed a reputation for excellent delivery in every of its
              four business platforms
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Bank and Company Acquisition</li>
              <li><i class="ri-check-double-line"></i> Post-Merger/Acquisition Integration</li>
              <li><i class="ri-check-double-line"></i> Capital Raising Design and Memorandum</li>
            </ul>
            <p class="fst-italic">
              Debt Recovery and Monitoring and Editorial Services
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
